:root{
    --primary: #0D80CC;
    --secondary: #424247;
    --third: #13131880;
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Mulish", sans-serif;
}
h1, h2, h3, h4, h5, h6, ol,ul, li, p, a{
    margin: 0;
    padding: 0;
    
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}
section{
    margin-top: 100px
}
.title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.para{
    font-size: 16px;
    line-height: 26px;
}
.btn_primary{
    padding: 16px 35px;
    background: #FF5400;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

/* ================ common css end =============== */


/* ==============================================
            nav part css start
============================================== */
nav{
    display: flex;
    padding: 25px 0;
    align-items: center;
}
.nav_logo{
    width: 25%
}
.nav_items{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}
.nav_items a{
    margin-left:44px ;
    color: var(--secondary);
    font-size: 18px;
    font-weight: 600;
    transition: all linear 0.3s;
}
.nav_items a:hover{
    color: var(--primary);
}
.active{
    color: var(--primary) !important;

}
.nav_items i{
   display: none;
}

/* nav bar responsive */
@media screen  and ( max-width:768px) {
    section{
        margin-top: 24px;
    }
    .title{
        font-size: 20px;
    }
    .para{
        font-size: 14px;
        padding: 5px 10px;
    }
    .btn_primary{
        padding: 15px 30px;
        font-size: 14px;
        
    }
    /* common css responsive */

    .nav_items a{
        display: none;
    }
    .nav_items i{
        display: block;
     }
    
}

/* ==============================================
            nav part css end
============================================== */

/* ==============================================
            hero banner part css start
============================================== */
.hero_banner{
    background: url("../Images/hero_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 106px 0;
    width: 100%;
}
.hero_content{
    text-align: center;
}
.hero_content h2{
    font-size: 64px;
    font-weight: 600;
    color: white;
}
.hero_content p{
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: 676px;
    margin: 24px auto 48px ;
}
.booking_info{
    width: 900px;
    padding: 30px;
    display: flex;
    column-gap: 24px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
}
.booking_info input{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    border: 0;
    width: 174px
}
.booking_info .find input{
    padding: 20px 0 20px 40px;
    background: #FF5400;
    border-radius: 10px;
    border: 0;
}
.booking_info .find input::placeholder{
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
}
.booking_info input::placeholder{
    color: #13131880;
    font-size: 18px;

}
.booking_info input:focus{
    outline: 1px solid var(--primary);
    border: 0;
}
.booking_info .find input:focus{
    outline: 1px solid white;
    border: 0;
}
.booking_info .select, .find{
    position: relative;
}
.booking_info .find{
    position: relative;
    text-align: center;
}
.booking_info .select i{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    color: #13131880

}
.booking_info .find i{
    position: absolute;
    left: 25px;
    top: 15px;
    font-size: 22px;
    color: #fff;
    background: #FF5400;

}

/* hero banner responsive */

@media screen  and ( max-width:768px) {
    .hero_banner{
        padding: 32px 0;
    }
    .booking_info{
        flex-direction: column;
        width: 287px;
        row-gap: 24px;
        justify-content: center;
        margin: 0 auto !important;
        padding: 20px;

    }
    .booking_info input{
        width: 255px;
    }
    .hero_content h2{
        font-size: 22px;
        
    }
    .hero_content p{
        font-size: 14px;
        width: auto;
        margin: 8px auto 32px ;
    }
    .booking_info input::placeholder{
        font-size: 14px;
    
    }
    .booking_info input{
        padding: 16px;
    }
    .booking_info .find input{
        padding: 16px 0 16px 30px;
    }
    .booking_info .select i{
        font-size: 16px;
    
    }
    .booking_info .find i{
        font-size: 16px;
    
    }
    
}
/* ==============================================
            hero banner part css end
============================================== */
/* ==============================================
            popular tours part css start
============================================== */
.popular_tours_part{
    display: flex;
    column-gap: 50px;
}
.tours_text{
    width: 50%;
}
.tours_image{
    width: 50%;
}
.tours_image img{
    width: 100%;
}
.tours_text p{
    color: var(--third);
    width: 530px;
    margin: 24px 0;
    
}
.tours_text ul{
    margin-bottom: 24px;
}
.tours_text li{
    color: var(--third);
    padding-bottom: 16px;
    
}
.tours_text .listItem{
    padding-left: 15px;
    position: relative;
}
.tours_text .listItem span{
    width: 6px;
    height: 6px;
    background: var(--third);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 12px;
}
/* responsive */

@media screen and (max-width: 768px){
    .popular_tours_part{
       flex-direction: column;
        row-gap: 24px;
    }
    .tours_text{
        width: 100%;
    }
    .tours_image{
        width: 100%;
        margin: 0 auto;
    }
    .tours_text p{
        width: auto;
        padding: 5px 10px;
    }
    .tours_text .listItem{
        margin-left: 10px;
    }

}


/* ==============================================
            popular tours part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */