:root{
    --primary: #0D80CC;
    --secondary: #424247;
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Mulish", sans-serif;
}
h1, h2, h3, h4, h5, h6, ol,ul, li, p, a{
    margin: 0;
    padding: 0;
    
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

/* ================ common css end =============== */


/* ==============================================
            nav part css start
============================================== */
nav{
    display: flex;
    padding: 25px 0;
    align-items: center;
}
.nav_logo{
    width: 25%
}
.nav_items{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}
.nav_items a{
    margin-left:44px ;
    color: var(--secondary);
    font-size: 18px;
    font-weight: 600;
    transition: all linear 0.3s;
}
.nav_items a:hover{
    color: var(--primary);
}
.active{
    color: var(--primary) !important;

}
@media screen  and ( max-width:576px) {
    .nav_items a{
        display: none;
    }
    
}

/* ==============================================
            nav part css end
============================================== */






/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */
/* ==============================================
            nav part css start
============================================== */
/* ==============================================
            nav part css end
============================================== */